spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect


logging:
  level:
    com.lucasmoraist: DEBUG

app:
  security-ignore:
    sentNotice: /api/v1/notices/sent
